body {
    background-color: black;
}

#main {
    position: relative;
}

#top-left {
    position: absolute;
    width: 50vw;
    padding-top: 10vh;
    top: 0;
    left: 0;

}

#top-right {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-left {
    position: absolute;
    width: 50vw;
    height: 50vh;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-right {
    position: absolute;
    width: 50vw;
    bottom: 0;
    right: 0;
}

.title {
    color: white;
    font-family: Anton;
    text-transform: uppercase;
}

.brasao {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.huge {
    font-size: 12rem;
}

